
@tailwind base;
@tailwind components;
@tailwind utilities;

.wellcome h1{
  text-align: center;
}* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Pour que le padding ne casse pas la largeur */
}

body {
  margin: 0;
  padding: 0;
}
.navbar{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  padding: 0;
  margin: 0;
   z-index: 9999;
}
.logo{
  
}
main {
  padding-top: 100px; 
}
.Link_list a, 
.icon, 
.icon > div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}
.Link_list a, 
.icon, 
.icon > div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.Link_list  a:hover{
  color: blue;
}.icon {
  margin-left: 35ant t0px;
}
.mega-shadow {
  background-color: white; 
  border-radius: 0.75rem;    
  height: 290px;
  gap: 20px;
  box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

